
.nav{
    padding: 30px 40px;
    border-top: 1.5px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.05);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav--ul{
    display: flex;
    justify-content: space-between;

}
.nav--li{
    position: relative;
}
.nav--btn{
    color: #2e263e;
}



.nav--btn--redbtn1{
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.nav--btn--redbtn2{
    right: -8px;
    top: 2px;
}